<div>
  <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
    
    
    <li [ngbNavItem]="1">
      <button ngbNavLink>Projetos</button>
      <ng-template ngbNavContent>

        <div ngbAccordion>
          <div ngbAccordionItem [collapsed]="false">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Em Desenvolvimento</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody class="p-2">
                <ng-template>
                  <div class="text-center" *ngIf="loadingSpinner">
                    <div class="spinner-border text-primary" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>               
                  </div>
                  <table class="table table-hover mt-2" id="idSizeDiv1">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Início</th>
                        <th scope="col">Fim</th>
                        <th scope="col">Status</th>
                        <th scope="col">Andamento</th>
                        </tr>
                    </thead>
                    <div *ngIf="projEmAndamento.length === 0 && !loadingSpinner" class="alert alert-info">
                      Nenhum projeto carregado
                    </div>
                    <tbody *ngIf="projEmAndamento.length > 0 && !loadingSpinner">
                      <tr *ngFor="let project of projEmAndamento; let i = index">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{project.type}}</td>
                        <td>{{project.name}}</td>
                        <td>{{project.start_date}}</td>
                        <td>{{project.due_date}}</td>
                        <td class="text-uppercase">
                          <span class="badge" [style.backgroundColor]="project.status.color">{{project.status.status}}</span>
                        </td>
                        <td>
                          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                              <div class="progress-bar" [style.width]="project.statusTasks.percentage + '%'">{{project.statusTasks.percentage}}%</div>
                          </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </ng-template>
              </div>
            </div>
          </div>

          <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>
                Concluídos
              </button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <div class="text-center" *ngIf="loadingSpinner">
                    <div class="spinner-border text-primary" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>               
                  </div>
                  <table class="table table-hover mt-2" id="idSizeDiv1">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Início</th>
                        <th scope="col">Fim</th>
                        <th scope="col">Status</th>
                        <th scope="col">Andamento</th>
                        </tr>
                    </thead>
                    <div *ngIf="projConcluido.length === 0 && !loadingSpinner" class="alert alert-info">
                      Nenhum projeto carregado
                    </div>
                    <tbody *ngIf="projConcluido.length > 0 && !loadingSpinner">
                      <tr *ngFor="let project of projConcluido; let i = index">
                        <th scope="row">{{i + 1}}</th>
                        <td>{{project.type}}</td>
                        <td>{{project.name}}</td>
                        <td>{{project.start_date}}</td>
                        <td>{{project.due_date}}</td>
                        <td class="text-uppercase">
                          <span class="badge" [style.backgroundColor]="project.status.color">{{project.status.status}}</span>
                        </td>
                        <td>
                          <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                              <div class="progress-bar" [style.width]="project.statusTasks.percentage + '%'">{{project.statusTasks.percentage}}%</div>
                          </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </ng-template>
              </div>
            </div>
          </div>
          
          
        </div>

      </ng-template>
    </li>



    <li [ngbNavItem]="2">
      <button ngbNavLink>Tasks</button>
      <ng-template ngbNavContent>
        <p>
          Use sua imaginação para ver lindos gráficos aqui.
        </p>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <button ngbNavLink>Novas Oportunidades</button>
      <ng-template ngbNavContent>
        <p>
          Acompanhe as tasks dos novos possíveis projetos e oportunidades.
        </p>
      </ng-template>
    </li>
  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
  
  
</div>