<div>
  <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
    
    
    <li [ngbNavItem]="1">
      <button ngbNavLink>Projetos</button>
      <ng-template ngbNavContent>

        <div ngbAccordion>
          <div ngbAccordionItem [collapsed]="false">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>Em Desenvolvimento</button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody class="p-2">
                <ng-template>
                  <div class="text-center" *ngIf="loadingSpinner">
                    <div class="spinner-border text-primary" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>               
                  </div>
                  <table class="table table-hover mt-2" id="idSizeDiv1">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Início</th>
                        <th scope="col">Fim</th>
                        <th scope="col">Status</th>
                        <th scope="col">Andamento</th>
                        </tr>
                    </thead>
                    <div class="row justify-content-center" id="spinnerclickup" style="display: none;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        </div>
                    <tbody id="idTableBody1">
                    </tbody>
                </table>
                </ng-template>
              </div>
            </div>
          </div>

          <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>
                Concluídos
              </button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  <div class="text-center" *ngIf="loadingSpinner">
                    <div class="spinner-border text-primary" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>               
                  </div>
                  <table class="table table-hover mt-2" id="idSizeDiv1">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Início</th>
                        <th scope="col">Fim</th>
                        <th scope="col">Status</th>
                        <th scope="col">Andamento</th>
                        </tr>
                    </thead>
                    <div class="row justify-content-center" id="spinnerclickup" style="display: none;">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        </div>
                    <tbody id="idTableBody1">
                    </tbody>
                </table>
                </ng-template>
              </div>
            </div>
          </div>
          
          
        </div>

      </ng-template>
    </li>



    <li [ngbNavItem]="2">
      <button ngbNavLink>Two</button>
      <ng-template ngbNavContent>
        <p>
          Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
          farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
          ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
          helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
          8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
          stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
        </p>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <button ngbNavLink>Three</button>
      <ng-template ngbNavContent>
        <p>
          Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
          Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
          Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,
          egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
          tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
          magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
          neque. Phasellus nec tortor vel tellus pulvinar feugiat.
        </p>
      </ng-template>
    </li>
  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
  
  
</div>